.card{
    display: grid;
    grid-area: card;
    grid-column: span 1;
    grid-gap:32px;
    padding: 22px;
    border-radius: 13px;
    font-family: 'Khula', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
    background-color: #FDFDFF;
    color: #4F4F4F;
}
.card__header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.card__menu{
    
    height: 5px;
    width: 26px;
   
    
}
.card__numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__count{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.card__percent{

    padding-left: 99px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #979797;
}
.card__arrow{
    width: 11px;
    height: 12px;
  
}
