.gistogram{
    grid-area: gistogram;
    border-radius: 13px;
    background-color: #FDFDFF;
    display: grid;
    grid-template-columns: 170px 100px;
    grid-template-rows:46px 38px 1fr ;
    grid-template-areas: 
    'gistogram-title . '
    '. gistogram-desktop '
    'gistogram-view gistogram-mobile'
    ;
    padding: 20px;
    grid-gap: 10px;
}

.gistogram__title{
    grid-area: gistogram-title;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4F;
}

.gistogram__view{
    grid-area: gistogram-view;
    grid-row: span 2;
    margin-top: 15px;
    align-content: center;
    width: 136px;
    height: 121px;
}

.gistogram__desktop{
    grid-area: gistogram-desktop;
    margin-top: 20px;
    width: 78px;
    height: 16px;
}
.gistogram__mobile{
    grid-area: gistogram-mobile;
    width: 120px;
    height: 16px;
}