.graphic{
    grid-area: graphic;
    display: flex;
    flex-direction: column;
    padding: 27px 28px 22px 24px;
    background-color: #FDFDFF;
    
    border-radius: 13px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Khula', sans-serif;
    }
    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
    &__subtitle {
        display: flex;
        flex-direction: row;
        padding-left: 190px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

    }
    &__checkbox {
        width: 135px;
        height: 16px;
    }
    &__arrow {
        width: 7px;
        height: 4px;
        align-self: center; 
        padding-left: 3px; 
    }
    &__view {
        padding-top: 25px;
    }
}