.headerbar {

    display: flex;
    grid-area: headerbar;
    align-items: center;
    color: #4F4F4F;
}
.header_name {
    font-family: 'Khula', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}
.header__search {
    display: flex;
    width: 163px;
    height: 32px;
    background-color: #FDFDFF;
    border: 1px solid #EBEBEB;
    border-radius: 13px;
    margin-left: 45px;
}

.search__text {
    width: 155px;
    background: none;
    border: none;
    padding-left: 11px;
}
.notification {
    margin-left: 14px;
}
.header__user {
display: flex;
flex-direction: row;
align-items: center;
margin-left: 573px;
font-family: 'Khula', sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 24px;
}
.avatar {
margin-left: 11px;
}
.fa-search {
    color: #979797;
    width: 9px;
    height: 8.2px;
}
.search__btn {
    background-color: transparent;
    border: none;
}