
.app{
    position: relative;
    display: grid;
    grid-template-columns: 98px 1fr;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 20px;
    font-family: 'Khula', sans-serif;
    background-color:#EFF3F9;
    grid-template-areas: 
    'nav content'
    ;
}

.content{

    display: grid;
    grid-area: content;
    grid-template-rows: 50px 150px 240px 240px;
    grid-template-columns: repeat(3,minmax(240px, 1fr));
    grid-template-areas: 
    'headerbar headerbar headerbar'
    'card . .'
    'graphic graphic gistogram'
    'diagram diagram geo';
    grid-gap:32px;

    
    padding: 50px;
    
    border-radius: 13px;
    
}
