
.app{

display: flex;
width: 100%;
max-width: 1280px;
height: 880px;
margin: 50px 5px;
border-radius: 20px;
font-family: 'Khula', sans-serif;
background-color:#EFF3F9;
}

.content{

    display: grid;
    grid-area: content;
    grid-template-rows: 50px 150px 240px 240px;
    grid-template-columns: repeat(3,minmax(240px, 1fr));
    grid-template-areas: 
    'headerbar headerbar headerbar'
    'card . .'
    'graphic graphic gistogram'
    'diagram diagram geo';
    grid-gap:32px;

    width: 100%;
    padding: 50px;
    
    border-radius: 13px;
    
}
