










@media only screen and (max-width: 768px) { 

    .app {
        grid-template-areas: 
        
        'content';
       width: 100%;

    }
    .content {
        min-width: auto;
        
        grid-template-columns: 450px;
        grid-template-rows:  1fr 1fr repeat(7, minmax (240px, 1fr));
        grid-template-areas:
        'headerbar'
        'headerbar'
        'card'
        '.'
        '.'
        'graphic'
        'gistogram'
        'diagram'
        'geo'
        ;
        grid-gap: 10px;
        padding: 2px;
        align-items: center;
        
        ;
    }
    .nav{
        display: none;
    }
    .headerbar,
    .card,
    .graphic,
    .gistogram,
    .diagram,
    .geo {
        grid-column: span 1;
        grid-row: span 1;
    
    }


    .hederbar{

        flex-direction: column;

    }
    .username{
       
        margin-left: 0px;
        
    }
    .graphic,
    .diagram{

        overflow-x: auto;

    }

}
