










@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) { 

    .app {
        grid-template-areas: 
        
        'content';
       width: 100%;

    }
    .content {
        width: 100%;

        grid-template-columns: 1fr;
        grid-template-rows:  1fr repeat(3, 148px) repeat(3,242px);
        grid-template-areas:
        'headerbar'
        'card'
        'card'
        'card'
        'graphic'
        'gistogram'
        'diagram'
        'geo'
        ;
        grid-gap: 10px;
        padding: 2px;
        align-items: center;
        
        
        
        ;
    }
    .nav{
        display: none;
    }
    .card,
    .graphic,
    .gistogram,
    .diagram,
    .geo {
        grid-column: span 1;
        grid-row: span 1;
        width: 370px;
    }


    .hederbar{
        
    display: grid;
    justify-content: center;
    
    }
    .username{
       
        margin-left: 0px;
        
    }
    .graphic,
    .diagram{

        overflow-x: auto;

    }
    .diagram{
        grid-template-columns: 337px 1fr;
        grid-template-rows: 30px 1fr;
    }

}
