
.app{

max-width: 1280px;
height: 880px;
margin: 0 auto;
border-radius: 20px;
display: grid;


background-color:#EFF3F9;
}

.wrapper{
    display: grid;
    height: 880px;
    max-width: 1280px;
    margin: 0 auto;
   
    grid-template-columns: 98px 1fr;
    grid-template-areas: "nav main";

    background-color:#962222;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-rows: repeat(3,137px);
    grid-template-columns: repeat(3,341px);
    grid-template-areas: 
    "header header header"
    "card card card"
    "graphic graphic gistogram"
    "diagram diagram geo";
}
